*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    padding: 10px;
}
.container {
    margin: auto;
    padding: 20px;
    border: 2px dotted #000;
    width: 95%;
    height: auto;
    border-radius: 30px;
}
.contenedor {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(207, 236, 219);
    border-radius: 15px;
}
span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}
.seleccionado{
    background-color: rgb(215, 247, 183);
}
.seleccionado:hover {
    background-color: limegreen;
    color: white;
    border-radius: 5px;
}

footer{
    padding: 20px;
}